{% extends 'CibumConcursoBundle::layout.html.twig' %}

{% block content %}


    <div class="span3">
        <div class="alert alert-info">
            <strong>Importante:</strong> Los datos están
            actualizados a agosto 2012.
        </div>

        <form action="{{ path('homepage') }}" method="post">
            {{ form_widget(filter) }}
            <button type="submit" class="btn btn-primary">Mostrar proyectos</button>
        </form>
    </div>

    <div class="span9">
        <div id="map" style="width: 800px; height: 500px;"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var points;
        $(document).ready(function () {
            var data = $.parseJSON({{ proyectos |json_encode |raw }});
            points = new Array();
            $.each(data, function (i, prj) {
                points[i] = {
                    lat:prj.latitud,
                    lng:prj.longitud,
                    data:'<strong>' + prj.nombre +   '</strong><br><a href="'+window.location.href+'/project/' + prj.id + '">Ver más</a>'
                };
                if (i == 100)
                    return false;
            });

	setPoints(points);
        });
    </script>

{% endblock %}
