{% extends 'CibumConcursoBundle::layout.html.twig' %}

{% block content %}

    <div class="span2">
        adasdsada
    </div>

    <div class="span10">
        <div id="map" style="height: 550px; width: 100%;">
        </div>
    </div>

{% endblock %}

