{% extends 'CibumConcursoBundle::layout.html.twig' %}

{% block content %}

    <div class="span2">
        <form action="{{ path('homepage') }}" method="post">
            {{ form_widget(filter) }}
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div class="span10">
        <div id="map"></div>
    </div>

{% endblock %}

