{% extends 'CibumConcursoBundle::layout.html.twig' %}

{% block content %}

    <div class="span2">
        <div class="btn-group">
	  <button class="btn">foo</button>
	  <button class="btn">foo</button>
	  </div>
    </div>

    <div class="span10">
        <div id="map"></div>
    </div>

{% endblock %}

