{% extends 'CibumConcursoBundle::layout.html.twig' %}

{% block content %}

<script type="text/javascript">
  var points = {{ proyectos |json_encode |raw }};
</script>

    <div class="span3">
      <div class="alert alert-info">
        <strong>Importante:</strong> Los datos están
	actualizados a agosto 2012.
      </div>

        <form action="{{ path('homepage') }}" method="post">
            {{ form_widget(filter) }}
            <button type="submit" class="btn btn-primary">Mostrar proyectos</button>
        </form>
    </div>

    <div class="span9">
        <div id="map" style="width: 800px; height: 500px;"> </div>
    </div>

{% endblock %}

