<h2>Comentarios</h2>
<ul class="comments">
    <table class="table">
        {% for comment in comments %}
        <tr>
            <td>
                <strong>{{ comment.user.username }}</strong>
                <small data-date="{{ comment.created|date('c') }}">{{ comment.created|date('d/m/Y h:i a') }}</small>
                <p>{{ comment.content }}</p>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>
                Aún no hay comentarios. Se el primero en comentar!
            </td>
        </tr>
        {% endfor %}
    </table>
</ul>